body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    margin: 0px;
    color: #222;
    background-color: #78909C;
}

#header {
    background-color: #455A64;
    background: url(/img/header.png);
    border-bottom: #263238;
    height: 50px;
}

#header-title {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: #fff;
    opacity: 0.9;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
}

#nav {
    height: 50px;
    z-index: -1;
}

#nav-inner {
    font-family: 'Open Sans', sans-serif;
    background-color: #ECEFF1;
    color: #263238;
    font-size: 10pt;
    bottom: 0px;
    box-shadow: 2px 2px 8px #37474F;
}

#nav-inner a:link {
    color: #263238;
}

#nav-inner a:visited {
    color: #263238;
}

.nav-item {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
}

.nav-item:hover {
    background-color: #CFD8DC;
}

#content {
    width: 85%;
}

#content-inner {
    padding: 30px;
    padding-top: 20px;
    max-width: 800px;
    line-height: 2.0em;
    text-align: justify;
}

.content-cell {
    padding: 25px;
    background-color: #ECEFF1;
    border-radius: 3px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 8px #37474F;
}

.content-cell-title {
    color: #111;
    font-weight: bold;
    font-size: 11pt;
}

.content-cell-subtitle {
    color: #444;
}

.content-cell-text {
    padding-top: 10px;
}

.content-title {
    color: #111;
    font-size: 24pt;
    padding-bottom: 10px;
}

.thumb {
    float: left;
    padding: 10px;
    padding-right: 20px;
}

h1 {
    color: #000;
}
